.ta-editor.ta-html, .ta-scroll-window.form-control,.ta-scroll-window > .ta-bind{
	    min-height: 42px !important;
}
.statictoolbar{
    height:50px;
    z-index: 9999;
    background-color: white;
    padding: 0px 15px;
}
.badge-auth{
  top: -3px;
  position: relative;
}
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #F8F8F8;
}
.sticky + .auther-tmp-container {
  padding-top: 50px;
}
.auther-tmp-container{
	padding: 0px 15px;
}
.add-question{
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.fa-floppy-o{
  color: green;
}
.action-panel i{
  padding: 0px 5px;
}
.question-block{
  position: relative;
}
.loader-layer{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #F5F5F5;
  opacity: 0.5;
}
.fa-spinner{
  top:50%;
  right: 50%;
  font-size:48px !important;
  color:red;
  position: absolute;
}
.inline-block,.inline-block *{
  display: inline-block;
   margin-bottom: 0px;
}
.inline-block{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 700px;
}
.recording{
  color: red;
}
.recording-btn{
  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
}
@-webkit-keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}
@-moz-keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}
@-ms-keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}
@-o-keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}
@keyframes color_change {
  from { background-color: white; }
  to { background-color: red; }
}
