<div>
  <span>Copyright @2018 ExamBuds.com. All rights reserved</span><br />
  <span>
  	<a routerLink="/about-us">About Us</a> | <a routerLink="/contact-us">Contact Us</a> | <a routerLink="/tc">Terms and Conditions</a> | <a href="https://www.facebook.com/plugins/group/join/popup/?group_id=545448065873786&source=email_campaign_plugin" target="_blank" class="fa fa-facebook-square"></a> | <a href="https://chat.whatsapp.com/JFhNIuta7gHEyOzLhb6hYl" target="_blank" class="fa fa-whatsapp"></a> | <a href="https://exambuds.blogspot.com/2018/09/exambuds-is-platform-where-students-can_38.html" target="_blank" class="fa fa-rss-square"></a>
  </span><br />
</div>
