.team-member{
    margin-bottom: 50px;
    text-align: center;
}
.team-member img {
    width: 225px;
    height: 225px;
    padding: 3px;
    border: 1px solid #ddd;
}
.rounded-circle {
    border-radius: 51% !important;
}
.mx-auto{
	margin: auto;
}
.fa-user-o{
	font-size: 6em;
}